circle {
    stroke: grey;
    fill: rgb(232,157,61)
}

svg {
	background-color: rgb(232,160,125);
}
.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
          stroke-width: 0;
}
